.form {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  align-items: center;
  padding-bottom: 30px;
  width: 400px;
  background: linear-gradient(
    135deg,
    rgba(229, 246, 243, 1) 0%,
    rgba(223, 226, 224, 1) 100%
  );

  margin: 0 auto;
}

.label {
  display: flex;
  flex-direction: column;
}

.label:not(:last-child) {
  margin-bottom: 15px;
}

.text {
  margin: 0;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}

.input {
  width: 280px;
  height: 20px;

  border: 1px solid #000;
  border-radius: 4px;
  outline: none;
}

.input-pass {
  width: 220px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid #000;
  border-radius: 4px;
  outline: none;
}

.button {
  width: 286px;
  height: 30px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  color: white;
  background-color: rgb(87 161 163);
  border: none;
  border-radius: 8px;
  cursor: pointer;

  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
}

.button-hide {
  color: rgb(0, 0, 0);
  font-size: 14px;
  color: white;
  background-color: rgb(87 161 163);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 4px 7px;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
}
